body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .login-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

  }
  
.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../media/loginbackground2.png') no-repeat center center/cover;
    z-index: -1;
    opacity: 0.5; /* Adjust the opacity to dim the image */
}

.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(128, 128, 128, 0.5); /* Grey overlay with 50% opacity */
    z-index: 0; /* Ensure overlay is above the background image */
}

  .login-content {
    background-color: black; 
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    border: 2px solid darkpurple; /* Set border color to dark purple */
    box-shadow: 0 0 10px darkpurple; /* Add glow effect to borders */
  }

  
  h2, h3 {
    margin: 0 0 15px;
    color: #333;
  }
  
  .carousel-container {
    margin-bottom: 20px;
  }
  
  .carousel {
    display: flex;
    overflow-x: auto;
  .carousel-item {
    flex: 0 0 auto;
    /* padding: 10px 20px; */
    margin: 10px;
    background: #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 2px solid darkpurple; /* Set border color to dark purple */
  }

  .carousel-item img {
    width: 150px;
    height: 75px;
  }
  
  .carousel-item.selected {
    background: #bbb; /* Highlight selected item */
    border: 2px solid #ff0; /* Highlight border color */
    scale: 1.2;
  }
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .carousel-item:hover {
    background: #bbb;
  }
  
  form {
    margin: 0;
  }
  
  input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background: #555;
  }
  
  .error-message {
    margin-bottom: 10px;
    color: red;
    font-size: 14px;
    display: none;
  }
  
  .reset-password a {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
  }
  
  .reset-password a:hover {
    text-decoration: underline;
  }
  